.info{
    padding-top: 100px;
    height: 500px;
    display: flex;
    align-items: center;
}
.info div{
    width: 40%;
    padding-left: 80px;
    
}
.info__image{
    left:auto;
    right: 140px;
    top: -440px;
    width: 400px;
    height: 300px;
}
.info h2{
    text-align: left;       
}
.info p{
    text-align: left; 
    padding: 0;
    margin-left: 0;   
}
.subtitle{
    font-size: 3.2rem;
}
.slide{
    justify-content: space-evenly;
    overflow-x: auto;
}

footer .subtitle{
    font-size: 2rem;
}
.proceso{
    height:auto;
}
.proceso h2{
    position: absolute;
    right: 150px;
    top:40px;
}
.proceso__row{
    max-width: 40%;
    margin: 0;

}
.info__image--desktop {
    display: block;
    width: 500px;
    height: 400px;
    
    position: absolute;
    top: 250px;
    left: 80px;
    margin: 0 auto;
    background-image: url("images/image\ 4.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .info__image2--desktop {
    display: block;
    width: 700px;
    height: 1000px;
    
    position: absolute;
    bottom: 160px;
    right: 0px;
    margin: 0 auto;
    background-image: url("images/Intersect.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .aux-row--end{
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .aux-row--start{
    justify-content: flex-start;
    margin-left: 20px;
  }
  .footer__conclution {
    border-radius: 300 300 0 0;
  }  
  .footer__conclution h3{
    font-size: 3.2rem;
  }
  .footer__conclution p{
    font-size:1.9rem ;
  }
  .footer__conclution span{
    width: 120px;
    height: 100px;
  }