.info{
    padding-top: 100px;
    height: 500px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.info__div--first{
    width: 60%;
    padding-left: 80px;
    
}
.info__image{
    left:auto;
    right: 150px;
    top: -500px;
    width: 380px;
    height: 280px;
    
}


.info h2{
    text-align: left;       
}
.info p{
    text-align: left; 
    padding: 0;
    margin-left: 0;   
}
.subtitle{
    font-size: 3.2rem;
}
.slide{
    justify-content: space-evenly;
    overflow-x: auto;
}
.slide__item {
  min-width: 250px;
  max-width: 280px;
  height: 400px;
}


footer .subtitle{
    font-size: 2rem;
}
.proceso{
    height:auto;
}
.proceso h2{
    position: absolute;
    right: 150px;
    top:40px;
}
.proceso__row{
    max-width: 40%;
    margin: 0;

}
.info__image--desktop {
    display: block;
    max-width: 814px;
    max-height: 803PX;    
    width: 51vw;
    height:50vw;
    position: absolute;
    top:-20px;
    left: 10px;
    margin: 0 auto;
    background-image: url("../images/trucks.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .info__image2--desktop {
    display: block;
    width: 700px;
    height: 1000px;
    
    position: absolute;
    bottom: 35px;
    right: 0px;
    margin: 0 auto;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/front-prototype.appspot.com/o/Intersect.png?alt=media&token=df56bf90-c1fb-4512-9216-32c4d8d1bd04");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .aux-row--end{
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .aux-row--start{
    justify-content: flex-start;
    margin-left: 20px;
  }
  .footer__conclution {
    width: 50%;
    border-radius: 300 300 0 0;
    text-align: left;
  }  
  .footer__conclution h3{
    font-size: 3.2rem;
    padding-top: 2px;
    margin-left: 10%;
  }
  .footer__conclution p{
    font-size:1.9rem ;
  }
  .footer__conclution span{
    width: 120px;
    height: 100px;
  }
  .footer__icons a{
    display: flex;
    width: 100%;    
    text-decoration: none;
    margin-bottom: 12px;
  }

  .footer__icons{
    flex-direction: column;
    align-items: start;    
    justify-content: center;
    margin-left: 10%;
    
  }
  .footer__logo{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 40%;
  }
  .footer__icons .icon--text{
    display: inline-block ; 
    padding-top: 1px;
    padding-left: 10px;
    font-size: 2rem;
    color: var(--onlyWhite);
    width: auto;
    height: auto;
  }
  .footer__logo img{
    display: block;
    width: 70%;
    max-width: 350px;
    
  }